@tailwind base;
@tailwind components;
@tailwind utilities;

.elementContainer::-webkit-scrollbar{
    width: 5px;
}
.elementContainer::-webkit-scrollbar-thumb{
    background: rgb(15, 77, 150);
    border-radius: 10px; }
